<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/ConteudoPrincipal.css">
    <link rel="stylesheet" href="~/css/ConteudoSecundario.css">
    <link rel="stylesheet" href="~/css/Cards.css">
    <title>Tela Principal</title>
</head>

<body>
    <div class="container">
    
        <nav>
            <ul>
                <li class="st"> <a href="/Tarefas">Começar</a> </li>
            </ul>
             <div class="logo">
                <a href="index.html">Focus</a>
            </div>

                 <partial name="_LoginPartial" />

            <div class="menu-icon">
                <img src="~/img/menu.png">
            </div>

        </nav>

        <main>
            <div class="main-text">
                <h1> <b>ORGANIZE</b> <strong>SEU DIA A DIA</strong> </h1>

                <button ><a href="#sec2">Saber mais</a></button>
            </div>
            <div class="main-imagem">
                <img src="~/img/imgPrinc.png">
            </div>
        </main>
    </div>

    <section>
        <div class="container-secundario" id="sec2">
            <div class="imagem">
                <img src="img/accounts _ user, users, profile, account, man, people, website, browser, webpage.png"
                     alt="">
            </div>
            <div class="caixa-texto">
                <h1 class="texto-principal">
                      SUAS TAREFAS
                </h1>
                <h2 class="texto-secundario">
                    <b> NOSSO SITE FOI CRIADO COM INTUITO DE QUE USUÁRIOS POSSAM ORGANIZAR SUAS TAREFAS E, ACESSA-LÁS ATRAVÉS DE SUA CONTA.</b>
                    
                </h2>

            </div>



        </div>

        <div class="cards">
            <div class="card-conteudo">
                <h1>PRODUTIVIDADE</h1>
                <b>
                    MANTENHA UMA ROTINA PRODUTIVA E ORGANIZADA SEM MUITO ESFORÇO.
                </b>
                <img src="~/img/achievements _ accomplishment, target, mountain, top, flag, man, people, achievement.png"
                     alt="">
            </div>
            <div class="card-conteudo">
                <h1>TAREFAS</h1>
                <b>
                    TAREFAS IMPLEMENTADAS COM OPÇÕES PARA CONCLUí-LAS EM UM ÚNICO CLIQUE.
                </b>
                <img src="~/img/e-commerce _ service, receipt, document, confirm, complete, checkmark, server, waiter.png"
                     alt="">
            </div>
            <div class="card-conteudo">
                <h1>EDITÁVEL</h1>
                <b>
                    SISTEMA DA LIBERDADE TOTAL AO USÚARIO PARA REESCREVER SUAS ATIVIDADES.
                </b>
                <img src="~/img/settings _ options, configuration, dials, dial, increase, decrease, woman, people.png"
                     alt="">
            </div>

        </div>

    </section>
   
    <script src="~/js/Principal.js"></script>
    
</body>

</html>